
li.input-item {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

li.input-item > div {
    display: flex;
    gap: 0.5rem;
}

li.input-item label {
    color: var(--purple-accent);
}

li.input-item input {
    padding: 0.6em 1.2em;
    background-color: whitesmoke;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: ease-in-out 0.5s;
}
li.input-item input:focus,
li.input-item input:focus-visible {
    outline: none;
    border-color: var(--purple-accent);
    filter: drop-shadow(0 0 0.5rem #646cffaa);
}

li.input-item .opt {
    color: gray;
    font-size: 0.5rem;
    font-weight: 600;
    align-self: flex-end;
}