
:root {
    --purple-accent: #646cff;
    --blue-accent: #61dafb;
}

.resume header {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    background: linear-gradient(135deg, #646CFF 0%, #61DAFB 100%);
    padding: 2rem;
    color: white;
}

header h1 {
    font-size: 2rem;
    text-align: center;
}

header .opt-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

header .opt-info > div {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}