
:root {
    --purple-accent: #646cff;
    --blue-accent: #61dafb;
}

.section-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

.section-container h1 {
    color: var(--purple-accent);
    font-size: 1.5rem;
}

.section-container ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.section-container .button-container {
    display: flex;
    gap: 1rem;
}

.section-container button {
    color: var(--purple-accent);
    font-size: 0.75rem;
    padding: 0.6rem 1.2rem;
    border: 1px solid var(--purple-accent);
    border-radius: 8px;
    filter: drop-shadow(0 0 0.25rem #646cffaa);
    transition: ease-in-out 0.5s;
}
.section-container button:hover {
    color: white;
    background-color: var(--purple-accent);
    cursor: pointer;
}
.section-container button:focus,
.section-container button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

